<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 리스트</title>
</head>
<body>

<h1>게시판</h1>

<div th:if="${!boardPage.empty}">
    <ul>
        <li th:each="board : ${boardPage}">
            <span th:text="${board.id}">글 번호</span> -
            <span th:text="${board.title}">제목</span> -
            <span th:text="${board.author}">작성자</span> -
            <span th:text="${board.likeCount} + ' likes'">좋아요 수</span> -
            <span th:text="${board.views} + ' views'">조회 수</span> -
            <span th:text="${board.categoryName}">카테고리</span> -
            <span th:text="${board.cityName}">도시</span>
        </li>
    </ul>
</div>

<div>
    <a href="#" th:if="${boardPage.hasPrevious()}" th:href="@{/boards(category_name=${categoryName}, page=${boardPage.number - 1}, pageSize=${boardPage.size})}">Previous</a>
    <span th:text="${boardPage.number + 1}">Page Number</span>
    <a href="#" th:if="${boardPage.hasNext()}" th:href="@{/boards(category_name=${categoryName}, page=${boardPage.number + 1}, pageSize=${boardPage.size})}">Next</a>
</div>

</body>
</html>
